<div class="container">

    <section class="header">
        <h2 class="title">{{ app.application_name }}</h2>
        <h4 class="title">{{ app.random_string }}</h4>
        <nav class="navbar">
            <ul class="navbar-list">
                <li class="navbar-item"><a class="navbar-link" href="">Home</a></li>
                <li class="navbar-item"><a class="navbar-link" href="">Blog</a></li>
                <li class="navbar-item"><a class="navbar-link" href="">About</a></li>
                <li class="navbar-item"><a class="navbar-link" href="">Other</a></li>
            </ul>
        </nav>
    </section>
