{% extends 'layout.twig' %}

{% block content %}
<div class="container">
    <h1 class="header">Green Cub - A something blog project</h1>
    <section class="header">
        {% block subcontent %}
            Content
        {% endblock %}
    </section>
</div>
{% endblock %}
